**/*.swp
cover.out
*~
minio
!*/
site/
**/*.test
**/*.sublime-workspace
/.idea/
/Minio.iml
**/access.log
vendor/
.DS_Store
*.syso
coverage.txt
.vscode/
*.tar.bz2
parts/
prime/
stage/
.sia_temp/
config.json
node_modules/
mc.*
/s3-check-md5*
/xl-meta*
/healing-*
inspect*.zip
200M*
/hash-set
minio.RELEASE*
mc
nancy
inspects/*
.bin/
*.gz
legacy-docs/debugging/s3-verify/s3-verify
legacy-docs/debugging/xl-meta/xl-meta
legacy-docs/debugging/s3-check-md5/s3-check-md5
legacy-docs/debugging/hash-set/hash-set
legacy-docs/debugging/healing-bin/healing-bin
legacy-docs/debugging/inspect/inspect
legacy-docs/debugging/pprofgoparser/pprofgoparser
legacy-docs/debugging/reorder-disks/reorder-disks
legacy-docs/debugging/populate-hard-links/populate-hardlinks
legacy-docs/debugging/xattr/xattr
/hash-set
/healing-bin
/inspect
/pprofgoparser
/reorder-disks
/s3-check-md5
/s3-verify
/xattr
/xl-meta
